/* CSS Resets */
*{
  box-sizing: border-box; 
  margin: 0; 
  padding: 0; 
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

.contained-img{
  width: 100%; 
  height: 100%; 
}


/* General Styles */
:root{
  --primary-dark-blue: hsl(243, 87%, 12%); 
  --primary-desaturated-blue: hsl(238, 22%, 44%); 
  --accent-blue: hsl(224, 93%, 44%); 
  --accent-cyan: hsl(170, 45%, 43%); 
  --neutral-grayish-blue: hsl(240, 75%, 98%);
  --neutral-light-gray: hsl(0, 0%, 75%); 
}

main{
  /* 1440px */
  /* max-width: 90rem;  */
  margin: 0 auto; 
  /* padding: 1.µ2rem;  */
}


body{
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-desaturated-blue); 
}

h1,
h2,
h3{
  font-family: 'Raleway', sans-serif;
}


/* Main Navigation */
header{
  padding: 1rem 2rem; 
  /* height: 5rem;  */
  margin-top: 0.5rem; 
  margin-bottom: 5rem; 
  font-size: 0.9rem; 
  text-align: center; 
}
.container{
  /* min-width: 20rem;  */
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
}
.container > .logo{
  height: 2rem; 
  width: 7rem; 
}

.container .logo img{
  height: 100%; 
  width: 100%;
}

.main-nav__items{
  color: var(--primary-desaturated-blue); 
  display: flex; 
}
.main-nav__item{
  margin-left: 1rem; 
}
.main-nav__item a{
  color: inherit; 
}



/* Hero / Banner */
.hero{
  width: 80%; 
  margin: 0 auto; 
  margin-bottom: 7rem;
}
.hero__img-container{
  margin-bottom: 2rem; 
}

.hero__content{
  text-align: center;
  margin-bottom: 2rem; 
  padding: 1.2rem 0; 
}

.hero__content h1{
  color: var(--primary-dark-blue); 
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 1rem;
}
.hero__content p{
  margin: 0 auto; 
  width: 90%; 
  font-size: 0.8rem;
  margin-bottom: 2rem; 
}

.hero__content > form{
  width: 100%; 
}

.hero__content  input{
  margin: 0 auto; 
  display:block;
  width: 80%; 
  height: 2.5rem; 
  outline: none; 
  border: 1px solid var(--primary-dark-blue); 
  padding: 0.5rem 0.8rem; 
  margin-bottom: 1rem; 
  border-radius: 4px;
}
.hero__content  button{
  height: 2.7rem; 
  color: white; 
  background: var(--accent-blue); 
  width: 80%; 
  padding: 0.6rem 1rem; 
  font-size: 1.1rem;
  text-align: center;
  border-radius: 4px; 
}


/* Second Section */
.section-curve{
  background: url("../images/bg-curve-mobile.svg") center/cover no-repeat; 
  height: 80px; 
}

.productivity-hero{
  background: var(--neutral-grayish-blue); 
  margin-left: 0; 
  margin-right: 0; 
  margin-bottom: 0; 
  padding-bottom: 1rem;
  width: 100%; 
}

.hero__img-container{
  margin: 0 auto; 
  width: 90%; 
  margin-bottom: 4rem; 
}


#hero__content__header--mobile{
  font-size: 1.1rem; 
}

#hero__content__header--desktop{
  display: none; 
}

.productivity-hero > .hero__content > p{
  text-align: left;
  font-size: 0.9rem; 
  line-height: 1.2rem;
  margin-bottom: 1.5rem;
}

.hero__content__link{
  display: flex;  
  width: 10.3rem;
  margin: 1rem auto; 
  margin-bottom: 3rem; 
  padding: 0.5rem 0.1rem; 
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-cyan); 
  color: var(--accent-cyan); 
}

.hero__content__link--text{
  display: inline-block; 
  font-size: 0.9rem; 
}

.hero__content__link > .hero__content__link__img-container{
  width: 1.5rem; 
  height: 1.5rem; 
}

/* Quote/Profile */
.hero__content__quote{
  width: 80%; 
  margin: 0 auto; 
  background: white;
  padding: 1.2rem;  
  border-radius: 3px; 
}

.hero__content__quote__img-container{
  width: 1rem; 
  height: 1rem; 
  margin-bottom: 1rem; 
}

.hero__content__quote > p{
  margin: 0; 
  width: 100%; 
  font-size: 0.7rem;
  line-height: 1.2rem;
  text-align: left;
  margin-bottom: 1rem; 
}

.hero__content__quote__profile{
  display: flex; 
  align-items: center;
  justify-content: flex-start;
}

.hero__content__quote__profile--img-container{
  width: 13%; 
  height: 13%; 
  border-radius: 50%;
  margin-right: 0.5rem; 
}
.hero__content__quote__profile--img-container > img{
  border-radius: inherit;
}

.hero__content__quote__profile--name{
  font-family: 'Raleway', sans-serif;
  text-align: left; 
  font-size: 0.8rem; 
  font-weight: bold;
}

.hero__content__quote__profile--title{
  font-size: 0.5rem; 
}


/* Sign Up Section */
.sign-up{
  background: var(--primary-desaturated-blue); 
  color: var(--neutral-grayish-blue); 
  padding: 3rem 1.2rem; 
  text-align: center; 
}

.sign-up__header{
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1rem; 
}

.sign-up  p{
  width: 90%;
  margin: 0 auto;  
  font-size: 0.95rem;
  margin-bottom: 1rem; 
  line-height: 1.5rem;
}

.sign-up > form{

}

.sign-up form > input{
  margin: 0 auto; 
  display:block;
  width: 70%; 
  height: 2rem; 
  outline: none; 
  border: 1px solid var(--primary-dark-blue); 
  padding: 0.5rem 0.8rem; 
  margin-bottom: 0.5rem; 
  border-radius: 4px;
}

.sign-up form > button{
  height: 2.2rem; 
  color: white; 
  background: var(--accent-blue); 
  width: 70%; 
  padding: 0 1rem; 
  font-size: 1rem;
  text-align: center;
  border-radius: 4px; 
  border: none; 
}


/* Footer Section */
footer{
  background: var(--primary-dark-blue); 
  color: white; 
  padding: 3rem 1.5rem; 
}
footer a {
  color: white; 
}
footer svg path{
  fill: white; 
}

footer svg{
  margin-bottom: 2rem; 
}

.footer__nav{
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

.footer__contact {
  
  margin-bottom: 2rem; 
}
.footer__contact a img {
  margin: 0 auto; 
  margin-right: 0.5rem; 
}

.footer__social-media{
  min-width: 7rem;
  max-width: 11rem; 
  display: flex; 
  width: 38%; 
  height: 3rem; 
  margin: 1rem auto; 
  justify-content: space-around;
  align-items: center;
}
.footer__social-media li{
  border: 1px solid white; 
  border-radius: 50%; 
  height: 2rem; 
  width: 2rem; 

}

.footer__social-media  a{
  /* border: 1px solid white;  */
  /* border-radius: 50%;  */
  display: inline-block;
  width: 100%; 
  height: 100%;
  margin: 0 auto; 
  padding-top: 20%; 
}
.footer__social-media  i{
  /* border: 1px solid white;  */
  /* border-radius: 50%;  */
  /* display: none;  */
  margin: 0 auto; 
  width: 100%; 
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.attribution { font-size: 0.5rem; text-align: center; }
.attribution a { color: var(--neutral-light-gray) }



/* Desktop View */
@media(min-width:768px){
  body{
    font-size: 1rem; 
  }

  /* Header & Nav */
  header{
    margin-top: 1.1rem; 
    font-size: 1.2rem; 
    padding-left: 3.5rem; 
    padding-right: 3.5rem; 
    margin-bottom: 3rem; 
  }

  .main-nav__item{
    margin-left: 4rem; 
  }

  /* Hero Section */
  .hero{
    display: flex; 
    width: 90%; 
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 4rem; 
  }

  .hero__content{
    order: -1; 
    width: 55%; 
  }
  .hero__content > h1{
    font-size: 2.7rem;
    text-align: left;
    line-height: 3.2rem;
  }
  .hero__content > p{
    width: 90%; 
    text-align: left; 
    font-size: 1.2rem;
    margin-left: 0; 
  }
  .hero__content form{
    text-align: left;
  }
  .hero__content input{
    display: inline-block; 
    width: 50%; 
  }
  .hero__content button{
    width: 30%; 
    margin-left: 1rem; 
  }

  .hero__img-container{
    width: 45%; 
  }

  /* Second Section */
  .section-curve{
    background: url("../images/bg-curve-desktop.svg") top 0 left 0/cover no-repeat; 
    height: 90px; 
  }

  .productivity-hero{
    width: 100%; 
    padding: 1.5rem 3rem; 
    margin-bottom: 0; 
  }

  .productivity-hero > .hero__content{
    width: 58%; 
  }

  #hero__content__header--mobile{
    display: none; 
  }
  #hero__content__header--desktop{
    display: block; 
    font-size: 2rem; 
    text-align: left; 
    line-height: 5rem; 
  }
  .productivity-hero > .hero__content p {
    width: 60%; 
    line-height: 1.5rem;
    margin-bottom: 1rem; 
  }

  .productivity-hero > .hero__content p:nth-last-of-type(1){
    margin-bottom: 0.5rem; 
  }

  .productivity-hero .hero__img-container{
    width: 42%; 
  }

  .productivity-hero .hero__content__link{
    margin-left: 0; 
    margin-top: 0; 
    margin-bottom: 2rem; 
  }

  /* Quote Box */
  .hero__content__quote{
    margin-left: 0; 
    width: 45%; 
  }

  .hero__content > .hero__content__quote > p{
    width: 100%; 
    line-height: 1.3rem; 
    font-size: 0.8rem; 
  }

  .hero__content__quote__profile--img-container{
    width: 17%; 
  }

  /* Sign Up Section */


}